[submodule "dpdk"]
	path = dpdk
	url = https://github.com/DPDK/dpdk.git
[submodule "pmu-tools"]
	path = pmu-tools
	url = https://github.com/andikleen/pmu-tools.git
[submodule "intel-cmt-cat"]
	path = intel-cmt-cat
	url = https://github.com/intel/intel-cmt-cat.git
