[submodule "dpdk"]
	path = dpdk
	url = https://github.com/DPDK/dpdk.git
[submodule "pmu-tools"]
	path = pmu-tools
	url = https://github.com/andikleen/pmu-tools.git
[submodule "Pktgen-DPDK"]
	path = Pktgen-DPDK
	url = https://github.com/pktgen/Pktgen-DPDK.git
